$borderColor: #e5e6eb;
$primaryColor: #165dff;
$white: #ffffff;
$cardBorderRadius: 8px;
$textGrey: #999999;

.pageContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.Picklist {
  width: 700px;
  // height: 1000px;
  box-sizing: border-box;
  background: $white;
  border-radius: $cardBorderRadius;
  margin: 24px 12px;
  display: flex;
  flex-flow: row nowrap;

  .menuLeft {
    width: 80px;
    height: 98%;
    padding-top: 18px;
    border-right: 1px solid $borderColor;
  }

  .PickMain {
    width: 600px;
    padding: 12px 24px;

    // 子菜单样式
    .tabsChildMenu {
      padding: 16px 0;
      // flex
      display: flex;
      flex-flow: row wrap;

      .titleChildMenu {
        font-size: 16px;
        color: #999999;
        user-select: none;
      }

      .childMenuItem:hover {
        background-color: #f2f3f5;
        border-radius: $cardBorderRadius;
        cursor: pointer;
        transition: all 0.25s;
      }

      .titleChildMenuActived {
        font-size: 24px;
        font-weight: bold;
        color: #333333;
        border-bottom: 4px solid #333333;
      }
    }

    .tabsChildMenuContent {
      padding-top: 12px;
      display: flex;
      flex-flow: row wrap;
    }
  }
}

.TagProcessing {
  // height: 1000px;
  max-width: 800px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: $cardBorderRadius;
  margin: 24px 12px;
  padding: 12px;
  padding-bottom: 36px;

  .mainContent {
    padding: 0 12px;
    .matchDatabse {
      color: $textGrey;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }
    .tagBoxArea {
      margin: 12px 0;
      min-height: 240px;
      border-radius: $cardBorderRadius;
      border: 2px dashed #e8e8e9;
      padding: 12px;
      .boxItem {
        display: flex;
        flex-flow: row nowrap;
        .selectedTag {
          font-size: 12px;
          height: 24px;
          background-color: #f2f3f5;
          padding: 0 8px;
          border-radius: 4px;
          text {
            margin-right: 4px;
          }
        }
        .selectedTagUncollected {
          background-color: #fef7ea;
        }
      }
      .weightContent {
        height: 24px;
        width: 4px;
        display: flex;
        flex-flow: column nowrap;
        .weightItem {
          height: 4px;
          width: 4px;
          margin-bottom: 1px;
          background-color: $primaryColor;
        }
      }
    }

    .formatButtonContent {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      color: #999999;
    }

    .generateTags {
      margin-top: 36px;
      .generateTagsTitle {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
      }
    }
  }
}

// 全局

.promptTag {
  // 标签
  height: 36px;
  border-radius: 4px;
  background-color: #f7f9fa;
  user-select: none;

  padding: 0px 12px;
  margin-right: 12px;
  margin-bottom: 12px;

  // flex
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  .textTranslation {
    color: #999999;
  }
}

.promptTagChecked {
  // 标签 - 被选中
  background-color: #2d5cf6;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.16);
  text {
    color: $white;
  }
  .textTranslation {
    color: rgba(255, 255, 255, 0.5);
  }
}

.demo-basic {
  padding: 10px;
  width: 200px;
  background-color: var(--color-bg-popup);
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

.flexCenter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
