.Picklist {
    width: 761px;
    height: 951px;
    background: #FFFFFF;
    border-radius: 16px;
    margin: 24px 12px;

    .menuLeft{
        width: 100px;
        margin: 36px 0;
    }
}

.TagProcessing {
    width: 761px;
    height: 951px;
    background: #FFFFFF;
    border-radius: 16px;
    margin: 24px 12px;
}